<!DOCTYPE>
<html lang="en">
<head>
	<link rel="stylesheet" href="../styles/styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa">
	<meta charset="UTF-8">
	<title>admin</title>
</head>
<body>
	<div class="header">
			<div class="logo">
				<h1><span>FAST FOOD FAST</span></h1>
			</div>		
			<div class="cont_user_cart">
				<h4 class="contact"> CONTACT US</h4>
				<div class="cart">
					<div class="cart_amount">0</div>
						<img src="../images/cart.jpg" alt="cart image">
				</div>				
				<img src="../images/admin.jpeg" alt="">
			</div>
	</div>
	
	
	<div id="titles">
		<h3>ORDER NUMBER</h3>
		<h3>USERNAME</h3>
		<h3>EMAIL </h3>
		<h3>ORDER TOTAL</h3>
		<h3>STATUS</h3>
	</div>

	<div class="orders">
		<p class="order_id">#204863</p>
		<p class="username">mwachala</p>
		<p class="email">paulmwachala@gmail.com</p>
		<p class="total">60435</p>
		<ul>
			<li>Accepted</li>
			<li>Denied</li>
			<li>Completed</li>
		</ul>
			</div>

















	<script src="../scripts/script.js"></script>
</body>
</html>