<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../styles/styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body id="admin_food">
	<div class="header">
			<div class="logo">
				<h1><span>FAST FOOD FAST</span></h1>
			</div>		
			<div class="cont_user_cart">
				<h4 class="contact"><a href="admin.html">Service Orders</a></h4>
				<div class="cart">
						
				</div>				
				<img src="../images/admin.jpeg" alt="">
			</div>
		</div>
	<br><br>
	<form id="create_menu_item">
		<h2>CREATE NEW MENU ITEM</h2>
		<br>
		<label for="food_image_input">Upload image for new food item</label>
		<br>
		<input type="file" accept="image/*" id="food_image_input">
		<br><br>
		<label for="food_desc_input">Write a short description of the item</label>
		<br>
		<textarea wrap="hard" cols="52" rows="15" id="food_desc_input" ></textarea>
		<br>
		<label for="food_price_input">The suggested price of the food item</label>
		<br>
		<textarea cols="52" rows="2" id="food_price_input"></textarea>
		<br><br>
		<button id="admin_menu_submit">SUBMIT</button>
	</form>
	
	<form id="current_menu_items" >
		<h2>Current Menu</h2>
		<br>
		<div class="single_item">
			<img src="../images/baconcheese.jpg" alt="">
			<div class="menu_item_desc"> 
				<p>
					is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in 
				</p>
			</div>
			<div class="menu_item_price">
				<h4>
					0
				</h4>
			</div>
			<button class="delete_menu_item">
				DELETE
			</button>
		</div>
		<div class="single_item">
			<img src="../images/eggburger.jpg" alt="">
			<div class="menu_item_desc"> 
				<p>
					ontrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum 
				</p>
			</div>
			<div class="menu_item_price">
				<h4>
					0
				</h4>
			</div>
			<button class="delete_menu_item">
				DELETE
			</button>
		</div>
		<div class="single_item">
			<img src="../images/wings.jpg" alt="">
			<div class="menu_item_desc"> 
				<p>
					ontrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum 
				</p>
			</div>
			<div class="menu_item_price">
				<h4>
					0
				</h4>
			</div>
			<button class="delete_menu_item">
				DELETE
			</button>
		</div>

	</form>








	<script src="../scripts/script.js"></script>
</body>
</html>