<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="../styles/styles.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<meta charset="UTF-8">
		<title>Cart</title>
	</head>

	<body id="cart">
		<div class="header">
			<div class="logo">
				<h1><span>FAST FOOD FAST</span></h1>
			</div>		
			<div class="cont_user_cart">
				<h4 class="contact"> CONTACT US</h4>
				<div class="cart">
					<div class="cart_amount">0</div>
						<img src="../images/cart.jpg" alt="cart image">
				</div>				
				<img src="../images/placeholder.png" alt="">
			</div>
		</div>

		<div id="cart_titles">	
			<ul >	
				<li id="product">PRODUCT</li>
				<li id="qty_label">QUANTITY</li>
				<li id="price_label">PRICE</li>
				<li id="ToTal"></li>
			</ul>
		</div>
		<div class="cart_items">
			<div class="description">
				<ul>
					<li><img src="../images/eggburger.jpg" alt="eggburger"></li>
					<li><p>this burger is delicious gahsfjoafj  fhasdjfnjladf anflknaskldf tiny descriptipsn fof teh  burher is felcien coanf</p></li>
					<li><button>REMOVE</button></li>
				</ul>
			</div>
			<div class="qty">
				<button class="addqty">+</button>
				<h3>23</h3>
				<button class="subqty">-</button>
			</div>
			<div class="price"><p>12</p></div>
			<div class="total_price"><p>0</p></div>			
		</div>

		<div class="cart_items">
			<div class="description">
				<ul>
					<li><img src="../images/eggburger.jpg" alt="eggburger"></li>
					<li><p>this burger is delicious gahsfjoafj  fhasdjfnjladf anflknaskldf tiny descriptipsn fof teh  burher is felcien coanf</p></li>
					<li><button>REMOVE</button></li>
				</ul>
			</div>


			<div class="qty">
				<button class="addqty">+</button>
				<h3>5</h3>
				<button class="subqty">-</button>
			</div>
			
			<div class="price"><p>300</p></div>
			<div class="total_price"><p>0</p></div>
		</div>



		<script src="../scripts/script.js"></script>	
	</body>
</html>

