<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="../styles/styles.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<meta charset="UTF-8">
		<title>Cart</title>
	</head>

	<body id="cart">
		<div class="header">
			<div class="logo">
				<h1><span>FAST FOOD FAST</span></h1>
			</div>		
			<div class="cont_user_cart">
				<h4 class="contact"> CONTACT US</h4>
				<div class="cart">
					<div class="cart_amount">0</div>
						<img src="../images/cart.jpg" alt="cart image">
				</div>	
				<a href="sign_in.html">
					<img src="../images/placeholder.png" alt="">

				</a>			
			</div>
		</div><br><br>
		<div id="cart_title">Your Cart</div>

	<form id="cart_form">
		<table border="1" id="user_cart">

			<tr>
				<th>PRODUCT</th>
				<th>Quantity</th>
				<th>UNIT_PRICE</th>
				<th>PRICE</th>
			</tr>

			
			<tr class="cart_contents">
				<td>
					<div>
						<img src="../images/baconcheese.jpg" alt="">						
					</div>
					<div class="cart_order_description">
						<p>this is another test phrase meant to tests please relax nothing to see here its all good</p>
					</div>
					<div>
						<button class="cart_remove_order"><i class="material-icons">delete</i> REMOVE</button>
					</div>

				</td>
				<td>
					<button class="cart_add_qty"><i class="material-icons">add_box</i></button>
					<p>10</p>
					<button class="cart_remove_qty"><i class="material-icons">remove_circle</i></button>
				</td>
				<td class="cart_unit_price"><p>12</p></td>
				<td class="cart_total_price"><p></p></td>
			</tr>
			<tr class="cart_contents">
				<td>
					<div>
						<img src="../images/baconcheese.jpg" alt="">						
					</div>
					<div class="cart_order_description">
						<p>this is another test phrase meant to tests please relax nothing to see here its all good</p>
					</div>
					<div>
						<button class="cart_remove_order"><i class="material-icons">delete</i> REMOVE</button>
					</div>

				</td>
				<td>
					<button class="cart_add_qty"><i class="material-icons">add_box</i></button>
					<p>10</p>
					<button class="cart_remove_qty"><i class="material-icons">remove_circle</i></button>
				</td>
				<td class="cart_unit_price"><p>12</p></td>
				<td class="cart_total_price"><p></p></td>
			</tr>
			<tr class="cart_contents">
				<td>
					<div>
						<img src="../images/baconcheese.jpg" alt="">						
					</div>
					<div class="cart_order_description">
						<p>this is another test phrase meant to tests please relax nothing to see here its all good</p>
					</div>
					<div>
						<button class="cart_remove_order"><i class="material-icons">delete</i> REMOVE</button>
					</div>

				</td>
				<td>
					<button class="cart_add_qty"><i class="material-icons">add_box</i></button>
					<p>10</p>
					<button class="cart_remove_qty"><i class="material-icons">remove_circle</i></button>
				</td>
				<td class="cart_unit_price"><p>12</p></td>
				<td class="cart_total_price"><p></p></td>
			</tr>
			<tr class="cart_contents">
				<td>
					<div>
						<img src="../images/baconcheese.jpg" alt="">						
					</div>
					<div class="cart_order_description">
						<p>this is another test phrase meant to tests please relax nothing to see here its all good</p>
					</div>
					<div>
						<button class="cart_remove_order"><i class="material-icons">delete</i> REMOVE</button>
					</div>

				</td>
				<td>
					<button class="cart_add_qty"><i class="material-icons">add_box</i></button>
					<p>10</p>
					<button class="cart_remove_qty"><i class="material-icons">remove_circle</i></button>
				</td>
				<td class="cart_unit_price"><p>12</p></td>
				<td class="cart_total_price"><p></p></td>
			</tr>
			



		</table>
		<br><br>
		
		<div id="receipt">
			<div><h3>OrderSummary</h3></div>
			<div id="cart_subtotal"><span>Sub-Total:</span><span>KSH 0000</span></div>
			<div id="cart_shipping"><span>ShippingFee:</span><span>KSH 200</span></div>
			<div id="cart_vat"><span>VAT</span><span>0</span></div>
			<div id="cart_total"><span>TOTAL</span><span>0</span></div>			
		</div>

		</table>



	</form>














	



		<script src="../scripts/script.js"></script>	
	</body>
</html>

