<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="../styles/styles.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<meta charset="UTF-8">
		<title>Cart</title>
	</head>
	<body id="cart">
		<div class="header">
			<div class="logo">
				<h1><span>FAST FOOD FAST</span></h1>
			</div>		
			<div class="cont_user_cart">
				<h4 class="contact"> CONTACT US</h4>
				<div class="cart">
					<div class="cart_amount">0</div>
						<img src="../images/cart.jpg" alt="cart image">
				</div>				
				<img src="images/placeholder.png" alt="">
			</div>
		</div>



		
	</body>
</html>