<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="../styles/styles.css">
		<meta charset="UTF-8">
		<title>User Sign Up</title>
	</head>
	<body>
		<form >
			<div class="sign_in_up">
				<img src="../images/fastfood.jpg" alt="picture of a burger">
				<h3>FAST FOOD FAST</h3>
				<h4>Sign Up</h4>
				<p>Fill the form below to create an account with FFF</p>
				<input type="text" placeholder="Username">
				<br>
				<input type="text" placeholder="Email address">
				<br>
				<input type="text" placeholder="Password">
				<button type="button">Sign Up</button>
				<h6>Already Registered? Click <a href="sign_in.html">here</a></h6>
			</div>
		</form>
	</body>
</html>