<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="../styles/styles.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<meta charset="UTF-8">
		<title>User_Sign_In</title>
	</head>
	<body>
		<form >
			<div class="sign_in_up">
				<img src="../images/fastfood.jpg" alt="picture of a burger">
				<h3>FAST FOOD FAST</h3>
				<h4>Sign In</h4>
				<input type="text" placeholder="type admin to go to admin" id="usrname">
				<br>
				<input type="text" placeholder="Password">
				<br>
				<button type="button" id="sign_in_button">Sign In</button>
				<h6>Not Registered? Click <a href="sign_up.html">here</a></h6>
			</div>
		</form>
		<script src="../scripts/script.js"></script>
	</body>
</html>