.sign_in_up{
	width: 500px;
	text-align: center;
	margin:auto;
	border-style:solid;
	border-color:#ffcc80;
	border-radius: 10px;
	box-shadow: 4px 6px 20px 0px;
}
.sign_in_up img{
	width:100%;
	height:250px;
}
.sign_in_up h3{
	margin: 15px;
	font-style:italic; 
	font-size:30px;
}
.sign_in_up input{
	padding-top:20px;
	padding-bottom:20px;
	width: 100%;
	height:25px;
	border:none;
}
.sign_in_up button{
	font-size:15px;
	border-left-style:none;
	border-right-style:none;
	width: 100%;
	display: block;
	padding:20px;
	text-align: center;
	background-color:#ff9800;
}

#index{
	
	background-color:white;
	overflow: hidden;
}

.header{
	position: relative;
	display: inline-flex;
	width: 100%;
	height: 100px;
	border-radius: 3px;
	box-shadow:4px 3px 20px 0px;
}
.logo{
	text-align: center;
	display: flex;
	width: 50%;
	background-color: #bdbdbd;

}

.logo h1{
	width: 100%;
	height: 45%;
	text-align: left;
	vertical-align: middle;
	color:#fff3e0;
	font-weight: bold;
	font-style: italic;
	font-size: 35px; 
	padding-left: 12px;
}
.cont_user_cart{
	display: flex;
	justify-content: flex-end;
	width: 50%;
	background-color: white;
}

.cont_user_cart img{
	width: 50px;
	height: 50px;
}
.contact{
	text-align: center;
	vertical-align: middle;
	padding-right: 13px;
	color: #798950;
}
.cart_amount{
	position: absolute;
	font-size: 10px;
	text-align: center;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: red;
	padding:3px;
}


.menu_title{
	font-family:  'Comfortaa' , cursive;
	color: black;
	margin:auto;
	text-align: center;
	width:350px;	
}
#only_the_best{
	margin-bottom: 0;
	margin-top:20px;
	font-size:22px; 
}

#from_our_menu{
	margin: 0;
	font-size:30px; 
	border-bottom-style: solid;
	border-top-style: solid;
	border-top-color:black;
	border-bottom-color:black;
}

.menu{
	width: 100%;
	list-style-type: none; 
}

.menu li{
	width: 50%;
	display: inline-block;
	float:left;
}
.menu_items{
	width: 100%;
	height:100%;
	display: inline-block;
	font-weight: normal;
}

.menu img{
	border-radius: 12px;
	width: 250px;
	height: 200px;
}

.menu p{
	font-size: 25px;
	margin:0;
	width: 50%;
	float: right;
	padding-right: 45px;
}
.menu_buttons{
	display: inline;

}

.menu_buttons button{
	font-size:15px;
	border-left-style:none;
	border-right-style:none;
	border-radius: 12%;
	width: 125px;
	height: 50px;
	text-align: center;
	background-color:#90a4ae;
	margin-bottom: 10px;
}
.menu_buttons button:hover{
	background-color:#34515e;
	box-shadow: 4px 6px 20px 0px;
}
.menu_items span{
	color: #d32f2f; 
	font-style: italic;
}
#cart{
	background-color:white;
}
#cart li{
	list-style: none;
}
#cart_titles{
	vertical-align: middle;
	display: inline-block;
	width: 100%;
	height: 20px;
	border-radius: 10px;
	padding-top:0px; 
	padding-bottom:10px;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: auto;
	margin-right:auto; 
}
#cart_titles ul{
	overflow: hidden;
	width: 100%;
	
}

#cart_titles li{
	float: left;
}

#product{
	border-right-style: solid;
	width: 50%;
}

#qty_label, #price_label{
	margin:0;
	padding-right:25px;
	padding-left:25px;
	width:90px;
	height: 100%;
	opacity: 0.8;
	border-left-style: solid;
}



.cart_items{
	background-color: #fbe9e7;
	box-shadow: 2px 3px 15px 1px;
	display: inline-block;
	width: 100%;
	height: 120px;
	border-radius: 3px;
}
.description{
	height: 100%;
	display: inline-block;
	float: left;
	width: 54%;
	border-right-style:inset;
	padding-right: 12px;
	border-width: 1px; 
}
.description ul{
	width:75%;
}
.description li{
	float: left;
}

.description img{
	width: 75px;
	height: 75px;
	border-radius: 3px;
}

.description p{
	overflow:hidden; 
	width:400px;
	height: 50px;
	padding-left:12px;
	margin:0px;
}
.description button{
	border-style: none;
	width:75px;
	height:50px;
	margin:0px;
	padding: 0px;
	background-color: #fbe9e7;
	color: red;
}
.qty{
	float: left;
	width: 100px;
	height:100%;
	margin:0px;
	padding-left:0px;
}

.qty h3{
	height: 33.33333333333333%;
	margin:0px;
	padding: 0px;
	color: orange;
	text-align: center;
}
.qty button{
	width: 100%;
	height: 33.33333333%;
	border-style: none;
}

.price{
	float: left;
	text-align: center;
	width: 12%;
	height: 100%;
}

.total_price{
	float: left;
	text-align: center;
	width: 12%;
	height: 100%;
}

.final_tally{
	display: inline-block;
	position: relative;
	float: right;
	width: 380px;
	height:300px;
	background-color:#f4511e ;
	border-radius: 5px;
	
}
#card{
	position: relative;
	bottom: -15px;
	background-color:white;
	width: 100%;
	height: 264px;
}

.final_tally h2{
	margin: auto;
	margin-top: 12px;
	text-align: center;
	border-bottom: solid;
	width:75%;
	font-family: 'Comfortaa' , cursive;
}
.final_tally li{
	font-size: 17px;
	list-style: none;
	width:50%;
	height: 40px;
	float: left;
	text-align: center;
}
.final_tally ul{
	border-style: solid;
	border-color: #bdbdbd;
}
.final_tally button{
	color: white;	
	background-color: #e64a19;
	width: 100%;
	height: 30px;
	border-style: none;
	text-align: center;
	}
/*adminPageCss*/
#admin_orders_form th{
	height:50px;
	color: white;
	background-color: #616161;
}
#admin_orders_form td{
	height: 40px;
	text-align: center;
}
#admin_orders_title{
	margin: auto;
	height: 70px;
	width: 100px;
	font-size: 25px;
}
#admin_orders_form button{
	background-color: white;
	border:0px;
}
#admin table {
	border-collapse: collapse;
	margin: auto;
	width: 100%;
	border-radius: 30px;
}

#admin{
	font-family: 'Oswald' , sans-serif;
}
/*adminPageCssEnd*/
#admin_food{
	font-family: 'Oswald' , sans-serif;
}


#create_menu_item{	
	margin:auto;
	width: 600px;
	border-radius: 3px;
	box-shadow: 3px 3px 10px 4px;
	text-align: center;
}



#food_desc_input:focus{
	box-shadow: 0px 0px 5px 0px green;
}

#create_menu_item button{
	position: relative;
	bottom: 12px;
	width: 150px;
	height:40px;
	color: white;
	background-color: orange;
	border-style: none;
	border-radius: 3px;

}

#current_menu_items{	
	height: 100%;
	position: relative;
	top: 30px;
	text-align: center;
	margin:auto;
	width: 1200px;
	border-style: solid;
}
.single_item{
	display: inline-block;
	width: 100%;
	height: 150px;
}
.menu_item_desc{
	position: relative;
	left:30px;
	width: 500px;
	height: 150px;
	float: left;
	word-wrap: normal;
	text-align: left;
}

#current_menu_items img{
	height: 150px;
	width: 150px;
	border-radius: 3px;
	float: left;
}

.menu_item_price{
	height: 150px;
	width: 150px;
	float: left;
}

.delete_menu_item{
	position: relative;
	top: 25px;
	height: 100px;
	width: 150px;
	float:left;
	border-radius: 5px;
	background-color: red;
	color: white;
}